# Databases
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"
REDIS_URL="redis://localhost:6379"

# VR-Chat documentation states 1 req/min
API_REQS_PER_MIN=1

ORIGIN="" # http://localhost:5173

DEV_BULLBOARD=false

VRC_USERNAME=""
VRC_PASSWORD=""
VRC_TOTP_SECRET=""
